__pycache__/

# === Virtual Environment ===
venv/
.env
.env.*

# === Audio & Transcripts ===
data/audio/
data/transcripts/
data/chunks/

chroma_db/

# === Whisper / HF cache ===
.whisper/
.whisper_cache/
.cache/